In [15]:
import os, sys
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "setup.settings")
import django
django.setup()

from pams_system.models import InputData,Level
from django.db import connection
import pandas as pd

query = str(InputData.objects.all().query)
df = pd.read_sql_query(query, connection)
#clean the data 
df[['value_date']] = df[['value_date']].astype(object).where(df[['value_date']].notnull(), None)

def get_value_dates(matching_string):
    required_data = df[df['name'].str.contains(matching_string)]
    preprocessed_value_dates = required_data['value_date']
    cleaned_value_dates = preprocessed_value_dates.reset_index()
    cleaned_value_dates.columns = ['indices','value_dates']
    return cleaned_value_dates

def return_full_row(matching_string):
    required_data = df[df['name'].str.contains(matching_string)]
    preprocessed_data = required_data[['value_date','name']]
    cleaned_data = preprocessed_data.reset_index()
    cleaned_data.columns = ['indices','value_date','name']
    return cleaned_data

In [16]:
# get_value_dates('Act')
df

,status,main_id,is_deleted,maptype_id,maplist_id,name,kpis,data_name_id,levelset_id,parent_id,kpitype_id,weights,value_date,lft,rght,tree_id,number_of_levels
0,N,11,2019-12-19 12:31:19.864207,3.0,3.0,Actval Life System,Timely Delivery,NaN,7.0,NaN,1.0,5.0,2020-02-13 07:34:31,1,62,2,0
1,N,31,2020-01-15 09:33:04.257303,NaN,NaN,Workers,None,NaN,NaN,11.0,NaN,NaN,None,2,3,2,1
2,N,36,2020-02-16 04:28:20.012058,3.0,3.0,Communication Materials,Communicated effectively,NaN,8.0,11.0,NaN,NaN,2020-02-05 00:00:00,4,13,2,1
3,N,38,2020-02-16 04:54:34.703737,3.0,3.0,Software Team B,Good temwork,NaN,9.0,36.0,NaN,NaN,2020-01-05 00:00:00,5,12,2,2
4,N,39,2020-02-16 04:55:59.489509,3.0,3.0,Prepare descriptions of all system functionali...,Good descriptions,NaN,10.0,38.0,NaN,NaN,None,6,7,2,3
5,N,41,2020-02-16 05:03:08.119633,3.0,3.0,Prepare FAQs on common questions,Good preparations,NaN,10.0,38.0,NaN,NaN,2020-01-09 00:00:00,8,9,2,3
6,N,40,2020-02-16 05:02:16.941618,3.0,3.0,Prepare user manual for the system.,Thorough presentations,NaN,10.0,38.0,NaN,NaN,2020-01-08 00:00:00,10,11,2,3
7,N,32,2020-02-03 17:01:04.259499,3.0,3.0,Good,None,NaN,7.0,11.0,NaN,NaN,None,14,15,2,1
8,N,30,2020-01-15 09:32:36.240153,NaN,NaN,Good programmers,None,NaN,NaN,11.0,NaN,NaN,None,16,17,2,1
9,N,29,2020-01-15 09:32:01.332394,NaN,NaN,Timely delivery,None,NaN,NaN,11.0,NaN,NaN,None,18,19,2,1
10,N,28,2020-01-15 09:32:00.999677,NaN,NaN,Timely delivery,None,NaN,NaN,11.0,NaN,NaN,None,20,21,2,1
11,N,37,2020-02-16 04:53:22.197729,3.0,3.0,Roll out,Timely Rollout,NaN,8.0,11.0,NaN,NaN,2020-02-04 00:00:00,22,31,2,1
12,N,42,2020-02-16 05:05:59.956051,3.0,3.0,IT Support Team,Awesom Teamwork,NaN,9.0,37.0,NaN,NaN,2020-01-11 00:00:00,23,30,2,2
13,N,43,2020-02-16 05:06:58.629587,3.0,3.0,Conduct system installations,Successful 1st-time installations completed,NaN,10.0,42.0,NaN,NaN,None,24,25,2,3
14,N,45,2020-02-16 05:51:56.974505,3.0,3.0,Troubleshoot and provide user support,Ongoing user support,NaN,10.0,42.0,NaN,NaN,2020-01-14 00:00:00,26,27,2,3
15,N,44,2020-02-16 05:49:41.604556,3.0,3.0,Undertake system maintenance,Ongoing improvement of system,NaN,10.0,42.0,NaN,NaN,2020-01-13 00:00:00,28,29,2,3
16,N,12,2019-12-19 12:31:38.322935,3.0,3.0,System Definition,Quality Output,NaN,8.0,11.0,NaN,NaN,None,32,61,2,1
17,N,33,2020-02-05 04:50:56.716389,3.0,3.0,Great Trial,None,NaN,8.0,12.0,NaN,NaN,2020-04-06 00:00:00,33,34,2,2
18,U,18,2020-01-15 07:55:48.053720,3.0,3.0,Quality Output,Quality Output,12.0,NaN,12.0,NaN,20.0,None,35,36,2,2
19,N,13,2019-12-19 12:31:59.518360,3.0,3.0,Software Team A,Quality Output,11.0,9.0,12.0,NaN,25.0,None,47,60,2,2
20,N,27,2020-01-15 09:31:15.812339,3.0,3.0,Awesome Programming,5,NaN,NaN,13.0,NaN,45.0,2020-02-13 07:35:17,48,49,2,3
21,N,26,2020-01-15 09:30:47.274033,3.0,3.0,Awesome Programming,6,NaN,NaN,13.0,NaN,96.0,2020-02-13 07:35:42,50,51,2,3
22,U,19,2020-01-15 07:56:41.461438,3.0,3.0,Good job,Good job,13.0,9.0,13.0,NaN,NaN,None,52,53,2,3
23,N,25,2020-01-15 09:30:06.775372,NaN,NaN,Great Guys,None,NaN,NaN,13.0,NaN,NaN,None,54,55,2,3
24,N,34,2020-02-14 13:36:22.637877,3.0,3.0,Prepare code interpretations,None,NaN,10.0,13.0,NaN,NaN,2020-08-03 00:00:00,56,59,2,3
25,N,35,2020-02-16 04:25:16.241614,3.0,3.0,Introductory System Write up,Quality Work,NaN,11.0,34.0,NaN,NaN,2020-07-09 00:00:00,57,58,2,4
26,N,16,2019-12-19 12:43:15.938937,3.0,3.0,Genval General System,2,NaN,7.0,NaN,NaN,5.0,2020-02-13 07:34:56,1,2,3,0
27,N,14,2019-12-19 12:34:09.875152,2.0,2.0,Pensions,None,NaN,12.0,NaN,NaN,NaN,None,1,4,4,0
28,N,15,2019-12-19 12:35:06.697379,2.0,2.0,Florence(Lead),None,NaN,13.0,14.0,NaN,NaN,None,2,3,4,1

In [3]:
return_full_row('Act')

   indices           value_date                name
0        0  2020-02-13 07:34:31  Actval Life System

In [4]:
df[['value_date']] = df[['value_date']].astype(object).where(df[['value_date']].notnull(), None)

In [5]:
value_date = InputData.objects.all().values('value_date')

In [6]:
df = pd.DataFrame(value_date)

In [7]:
df

                  value_date
0  2020-02-13 07:34:31+00:00
1                        NaT
2  2020-02-05 00:00:00+00:00
3  2020-01-05 00:00:00+00:00
4                        NaT
5  2020-01-09 00:00:00+00:00
6  2020-01-08 00:00:00+00:00
7                        NaT
8                        NaT
9                        NaT
10                       NaT
11 2020-02-04 00:00:00+00:00
12 2020-01-11 00:00:00+00:00
13                       NaT
14 2020-01-14 00:00:00+00:00
15 2020-01-13 00:00:00+00:00
16                       NaT
17 2020-04-06 00:00:00+00:00
18                       NaT
19                       NaT
20 2020-02-13 07:35:17+00:00
21 2020-02-13 07:35:42+00:00
22                       NaT
23                       NaT
24 2020-08-03 00:00:00+00:00
25 2020-07-09 00:00:00+00:00
26 2020-02-13 07:34:56+00:00
27                       NaT
28                       NaT

In [10]:
Level.objects.filter(maplist_id=2)

In [12]:
df

                  value_date
0  2020-02-13 07:34:31+00:00
1                        NaT
2  2020-02-05 00:00:00+00:00
3  2020-01-05 00:00:00+00:00
4                        NaT
5  2020-01-09 00:00:00+00:00
6  2020-01-08 00:00:00+00:00
7                        NaT
8                        NaT
9                        NaT
10                       NaT
11 2020-02-04 00:00:00+00:00
12 2020-01-11 00:00:00+00:00
13                       NaT
14 2020-01-14 00:00:00+00:00
15 2020-01-13 00:00:00+00:00
16                       NaT
17 2020-04-06 00:00:00+00:00
18                       NaT
19                       NaT
20 2020-02-13 07:35:17+00:00
21 2020-02-13 07:35:42+00:00
22                       NaT
23                       NaT
24 2020-08-03 00:00:00+00:00
25 2020-07-09 00:00:00+00:00
26 2020-02-13 07:34:56+00:00
27                       NaT
28                       NaT

In [19]:
InputData.objects.filter(Q(levelset_id = 13))